<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, "Project Name: " %>
  <%= form.text_field :name %>

  <% @project.metrics.each do |metric| %>
    <%= form.fields_for :metrics do |metric_form| %>
      <div>
        <%= metric_form.label :name, "Metric Name: " %>
        <%= metric_form.text_field :name %>
      </div>

      <div>
        <%= metric_form.label :prefix, "Prefix: " %>
        <%= metric_form.text_field :prefix %>
      </div>

      <div>
        <%= metric_form.label :number, "Number: " %>
        <%= metric_form.text_field :number %>
      </div>

      <div>
        <%= metric_form.label :amount, "Amount: " %>
        <%= metric_form.text_field :amount %>
      </div>

      <div>
        <%= metric_form.label :label, "Label: " %>
        <%= metric_form.text_field :label %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
